<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Medikament hinzufügen</title>
    <link rel="stylesheet" href="css/bootstrap.minNeu.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Medikament anlegen</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/addMedikament}"
      th:object="${medikamentForm}" method="POST">
    Name:
    <input type="text" th:field="*{name}"/>
    <br/>
    Dosis:
    <input type="text" th:field="*{dosis}"/>
    <br/>
    <input type="submit" value="hinzufügen"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:#4fdbff;font-style:italic;">
    ...
</div>

</body>
</html>