<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Medikament hinzufügen</title>
    <link rel="stylesheet" href="css/bootstrap.minNeu.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #161528;">
    <a class="navbar-brand" th:href="@{/index}">MedicationApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/meinTag}">Mein Tag</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/medikamentenListe}">Meine Medikamente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erinnerungenListe}">Meine Erinnerungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/kalender}">Mein Kalender</a>
        </ul>

    </div>
</nav>
<br>
<div class="row">
    <div style="width: 100%; text-align: center">
        <h1>Medikament hinzufügen</h1>
    </div>
</div>

<br>
<a class="btn btn-light btn-sm" href="medikamentenListe" role="button" style="margin-left: 10rem;" >zurück zur Ansicht</a>
<form th:action="@{/addMedikament}"
      th:object="${medikamentForm}" method="POST">
<div class="container">
    <div class="form-group row">
        <label for="inputBezeichnung" class="col-sm-2 col-form-label">Bezeichnung</label>
        <div class="col-md-6">
            <input type="text" th:field="*{name}" class="form-control" id="inputBezeichnung"
                   placeholder="Bitte eintragen!">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputDosis" class="col-sm-2 col-form-label">Dosis</label>
        <div class="col-md-6">
            <input type="text" th:field="*{dosis}" class="form-control" id="inputDosis">
        </div>
    </div>

    </div>
</div>
    <div class="row">
        <div style="width:100%; text-align:center">
            <input type="submit" class=" btn btn-light btn-sm" style="margin-left: 10rem;" value="hinzufügen"/>
            <!-- Check if errorMessage is not null and not empty -->
            <div th:if="${errorMessage}" th:utext="${errorMessage}"
                 style="color:#4fdbff;font-style:italic;">
                ...
            </div>
        </div>
    </div>
</form>


<!-- Check if errorMessage is not null and not empty -->


</body>
</html>