<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Meine Erinnerungen</title>
    <link rel="stylesheet" href="css/bootstrap.minNeu.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg" style="background-color: #161528;">
    <a class="navbar-brand"th:href="@{/index}">MedicationApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/meinTag}">Mein Tag</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/medikamentenListe}">Meine Medikamente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erinnerungenListe}">Meine Erinnerungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/kalender}">Mein Kalender</a>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Meine Erinnerungen</h1>
    </div>
    <div class="col-md-4"></div>
</div>
    <div class="col-md-7"><h2>Erinnerungen</h2>
        <p></p>
        <a href="addErinnerung">Füge eine Erinnerung hinzu</a>
        <p></p>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Dosis</th>
                <th>Aktiv</th>
                <th>Montag</th>
                <th>Dienstag</th>
                <th>Mittwoch</th>
                <th>Donnerstag</th>
                <th>Freitag</th>
                <th>Samstag</th>
                <th>Sonntag</th>
                <th>Anfangsdatum</th>
                <th>Enddatum</th>
            </tr>
            <tr th:each="erinnerung : ${erinnerungen}">
                <td th:utext="${erinnerung.bezeichnung}">...</td>
                <td th:utext="${erinnerung.dosis}">...</td>
                <td th:utext="${erinnerung.aktiv}">...</td>
                <td th:utext="${erinnerung.montag}">...</td>
                <td th:utext="${erinnerung.dienstag}">...</td>
                <td th:utext="${erinnerung.mittwoch}">...</td>
                <td th:utext="${erinnerung.donnerstag}">...</td>
                <td th:utext="${erinnerung.freitag}">...</td>
                <td th:utext="${erinnerung.samstag}">...</td>
                <td th:utext="${erinnerung.sonntag}">...</td>
                <td th:utext="${erinnerung.anfangsdatum}">...</td>
                <td th:utext="${erinnerung.enddatum}">...</td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <br></br>
    </div>
</div>

</body>
</html>