<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>medicationApp v0.0.2</title>

    <link rel="stylesheet" href="css/bootstrap.minNeu.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<nav class="navbar navbar-expand-lg"  style="background-color: #161528;">
    <a class="navbar-brand" th:href="@{/index}">MedicationApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/medikamentenListe}">Meine Medikamente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erinnerungenListe}">Meine Erinnerungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/kalender}">Mein Kalender</a>
        </ul>
    </div>
</nav>
<br>
<div class="row">
    <div style="width: 100%; text-align: center">
        <h1>MedicationApp</h1>
        <br>
        <h2 th:utext="${message}">..!..</h2>
    </div>
</div>
<br>
<div class="row">
    <div style="width: 100%; text-align: center">
        <h4>
            <script type="text/javascript" src="js/datum.js"></script>
        </h4>
    </div>
</div>

<br>

<div class="card-group" style="width: 80rem;">
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">Heutige Erinnerung</h5>
            <br>
            <p class="card-text">
            <table class="table" style="width: 20rem;">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Bezeichnung</th>
                    <th scope="col">Dosis</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="erinnerung : ${erinnerung}">
                    <td th:utext="${erinnerung.bezeichnung}">...</td>
                    <td th:utext="${erinnerung.dosis}">...</td>
                    <td>  <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                    </div></td>
                </tr>
                </tbody>
            </table>
            </p>
        </div>
    </div>

    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">Heutige Termine</h5>
            <br>
            <p class="card-text">
            <table class="table" style="width: 20rem;">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Uhrzeit und Bezeichnung</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="termin : ${termin}">
                    <td th:utext="${termin.uhrzeitBezeichnung}">...</td>
                    <td>  <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                    </div></td>
                </tr>
                </tbody>
            </table>
            </p>
        </div>
    </div>
</div>

<br>

<div/>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</div>
</body>

</html>