<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mein Kalender</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="css/kalender.css">
</head>
<body>
<h1>Mein Kalender</h1>
<br/><br/>

<br/><br/>
<ul id="Menü">
    <a th:href="@{/index}">Startseite</a>

    <ul class="nested">
        <li><span class="&#9744;">Mein Tag</span>
        <li><a th:href="@{/medikamentenListe}">Meine Medikamente</a>
        <li><span class="&#9744;">Meine Erinnerungen</span>
        <li><a th:href="@{/kalender}">Mein Kalender</a>
    </ul>
    </li>
</ul>

<div id="kalender"></div>

<script type="text/javascript" src="js/caleandar.js"></script>
<script type="text/javascript" src="js/initializeKalenderMitTerminen.js"></script>
</body>
</html>