<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mein Kalender</title>
    <link rel="stylesheet" href="css/bootstrap.minNeu.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" href="css/kalender.css">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #161528;">
    <a class="navbar-brand"th:href="@{/index}">MedicationApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/meinTag}">Mein Tag</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/medikamentenListe}">Meine Medikamente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erinnerungenListe}">Meine Erinnerungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/kalender}">Mein Kalender</a>
        </ul>
    </div>
</nav>
<br>
<div class="row">
    <div style="width: 100%; text-align: center">
        <h1>Mein Kalender</h1>
    </div>
</div>
<br>
<div class="text-center"><h2>Kalender</h2></div>
<br>
<div id="kalender" class="text-center"></div>
<br>
<a class="btn btn-light btn-sm" href="addTermin" role="button" style="margin-left: 68rem;" >Termin hinzufügen</a>

<!--
    Suchfunktion
    <p></p>
    <button type="button" onClick='findString("Apples")'>Search for Apples</button>
</div>
-->

<div class="text-center">
</div>
</div>


<script type="text/javascript" src="js/caleandar.js"></script>
<script type="text/javascript" src="js/initializeKalenderMitTerminen.js"></script>
</body>
</html>