<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Medikamenten-Liste</title>
    <link rel="stylesheet" href="css/bootstrap.minNeu.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg" style="background-color: #161528;">
    <a class="navbar-brand" th:href="@{/index}">MedicationApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/medikamentenListe}">Meine Medikamente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erinnerungenListe}">Meine Erinnerungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/kalender}">Mein Kalender</a>
        </ul>

    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div style="width: 100%; text-align: center">
            <h1>Meine Medikamente</h1>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="row">
        <div style="width:100%; text-align:right">
            <a class="btn" style="background-color:#1edc82; color:#48475a" href="addMedikament" role="button">Medikament
                hinzufügen</a>
        </div>
    </div>
</div>
<br>
<table class="table" style="width: 65rem; margin: 0 auto;">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Form</th>
        <th scope="col">Dosis</th>
        <th scope="col">Rezeptpflichtig</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="medikament : ${medikament}">
        <td th:utext="${medikament.name}">...</td>
        <td th:utext="${medikament.form}">...</td>
        <td th:utext="${medikament.dosis}">...</td>
        <td th:utext="${medikament.rezeptpflichtig}">...</td>
    </tr>

    </tbody>
</table>
</body>
</html>